<aside class="aside is-placed-left is-expanded" xmlns:th="https://www.thymeleaf.org/th">
    <div class="aside-tools">
        <div class="aside-tools-label">
            <span><b>Meerkat</b></span>
        </div>
    </div>
    <div class="menu is-menu-main">
        <p class="menu-label">General</p>
        <ul class="menu-list">
            <li>
                <a href="/" class="is-active router-link-active has-icon">
                    <span class="icon"><i class="mdi mdi-desktop-mac"></i></span>
                    <span class="menu-item-label">Home</span>
                </a>
            </li>
        </ul>
        <p class="menu-label">Projects</p>
        <ul class="menu-list">
            <li th:each="item: ${menu}">
                <a th:href="${item.link.href}" class="has-icon" th:classappend="${item.selected} ? is-active : ''">
                    <span class="icon"><i class="mdi mdi-square-edit-outline"></i></span>
                    <span class="menu-item-label" th:text="${item.link.name}"/>
                </a>
            </li>

            <!--
            <li>
                <a href="/browsers" class="has-icon">
                    <span class="icon"><i class="mdi mdi-square-edit-outline"></i></span>
                    <span class="menu-item-label">Browsers</span>
                </a>
            </li>
            <li>
                <a href="/profile.html" class="has-icon">
                    <span class="icon"><i class="mdi mdi-account-circle"></i></span>
                    <span class="menu-item-label">Profile</span>
                </a>
            </li>
            <li>
                <a class="has-icon has-dropdown-icon">
                    <span class="icon"><i class="mdi mdi-view-list"></i></span>
                    <span class="menu-item-label">Submenus</span>
                    <div class="dropdown-icon">
                        <span class="icon"><i class="mdi mdi-plus"></i></span>
                    </div>
                </a>
                <ul>
                    <li>
                        <a href="#void">
                            <span>Sub-item One</span>
                        </a>
                    </li>
                    <li>
                        <a href="#void">
                            <span>Sub-item Two</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <p class="menu-label">About</p>
        <ul class="menu-list">
            <li>
                <a href="https://admin-one-vue-cli.justboil.me" class="has-icon">
                    <span class="icon"><i class="mdi mdi-credit-card-outline"></i></span>
                    <span class="menu-item-label">Premium Demo</span>
                </a>
            </li>
            <li>
                <a href="https://justboil.me/bulma-admin-template/one" class="has-icon">
                    <span class="icon"><i class="mdi mdi-help-circle"></i></span>
                    <span class="menu-item-label">About</span>
                </a>
            </li>
            -->
        </ul>
    </div>
</aside>