<footer class="footer">
    <div class="container-fluid">
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <div class="logo">
                    </div>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <a href="https://github.com/samblake/meerkat">Meerkat</a>
                </div>
            </div>
        </div>
    </div>
</footer>