<section class="section is-title-bar" xmlns:th="https://www.thymeleaf.org/th">
    <div class="level">
        <div class="level-left">
            <div class="level-item">
                <ul>
                    <li th:each="crumb: ${crumbs}" th:text="${crumb}" />
                </ul>
            </div>
        </div>
        <div class="level-right">
            <div class="level-item">
                <div class="buttons is-right">
                </div>
            </div>
        </div>
    </div>
</section>