<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}">
<section class="section is-main-section" layout:fragment="content">
    <div class="tile is-ancestor">
        <div class="tile is-parent">
            <div class="card tile is-child">
                <header class="card-header">
                    <p class="card-header-title">
                        <span class="icon"><i class="mdi default" th:classappend="${project.icon}"></i></span>
                        <span th:text="${project.name}"></span>
                    </p>
                </header>
                <div class="card-content">
                    <div class="has-max-width is-aligned-center" th:text="${project.description}"/>
                </div>
            </div>
        </div>
    </div>

</section>